.imageContainer
  .crop
    = link_to image_tag('snow.jpg'), '#', 'data-title' => 'Pre-engagement Picture with a long title that could drag on a while'.upcase
  .crop= link_to image_tag('ring.jpg'), '#', 'data-title' => 'The ring'.upcase
  .crop= link_to image_tag('snow.jpg'), '#', 'data-title' => 'Pre-engagement Picture'.upcase
  .crop= link_to image_tag('ring.jpg'), '#', 'data-title' => 'The ring'.upcase