.imageContainer
  - if @images.length.eql? 0
    %h1 We currently have no images to display. Don't sweat! We will be uploading some shortly.


  - @images.each do |image|
    .crop= link_to image_tag('purple.png', alt: image.title, class: 'lazy', 'data-id' => image.id), '#', 'data-title' => image.title.upcase, rel: 'lightbox[images]'