$nexa_path: url(Nexa_Light.woff), url(Nexa_Light.ttf), url(Nexa_Light.eot), url(Nexa_Light.svg);
$nexa_bold_path: url(Nexa_Bold.woff), url(Nexa_Bold.ttf), url(Nexa_Bold.eot), url(Nexa_Bold.svg);
$eurofurence_light_path: url(eurofurence-light.ttf), url(eurofurence-light.woff), url(eurofurence-light.eot), url(eurofurence-light.svg);
$print_clearly_path: url(PrintClearly.ttf), url(PrintClearly.woff), url(PrintClearly.eot), url(PrintClearly.svg);
$raleway_path: url(raleway_thin-webfont.eot), url(raleway_thin-webfont.svg), url(raleway_thin-webfont.ttf), url(raleway_thin-webfont.woff);

@font-face {
  font-family: Nexa;
  src: $nexa_path;
}

@font-face {
  font-family: Nexa;
  src: $nexa_bold_path;
  font-weight: bold;
}

@font-face {
  font-family: 'Eurofurence Light';
  src: $eurofurence_light_path;
}

@font-face {
  font-family: 'Print Clearly';
  src: $print_clearly_path;
}

@font-face {
  font-family: Raleway;
  src: $raleway_path;
}