$grey: #3D3D3D;
$purple: #5B3863;
$lightGrey: #CCC;

@mixin border-radius($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property, $duration: 0.5s, $easing: linear) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}

body.admin {
  background: $lightGrey;
}

.header {
  width: 100%;
  background: $grey;
  padding: 20px 0;
  height: 70px;
  .logo {
    margin-left: 0;
    padding: 10px;
    width: 130px;
    float: left;
    @include border_radius(5px);
    .marginSmall {
      margin-bottom: 8px;
      font-size: 30px;
    }
    .small {
      font-size: 18px;
    }
    .medium {
      font-size: 25px;
    }
    .move {
      top: 7px;
      left: 16px;
    }
  }
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.admin.content {
  font-size: 20px;
  padding: 20px 0;
  margin-left: 0;
  color: #000;
  font-family: Raleway, Helvetica, sans-serif;
  margin-top: 30px;
}

input[type=text], input[type=password], input[type=file] {
  padding: 15px 10px;
  width: 300px;
}

input[type=file] {
  font-size: 16px;
}

form {
  label {
    width: 200px;
    font-size: 25px;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    text-align: right;
    &.passConfirm {
      margin-top: 10px;
    }
  }
  .submit {
    margin-left: 220px;
    input[type=submit] {
      padding: 15px 10px 10px;
      @include border-radius(2px);
      background: lighten($purple, 10%);
      font-family: Raleway, Helvetica, sans-serif;
      font-weight: bold;
      border: 0;
      color: white;
      line-height: 25px;
      &:hover {
        background: lighten($purple, 15%);
      }
    }
  }
}

.button {
  padding: 15px 10px 10px;
  @include border-radius(2px);
  background: lighten($purple, 10%);
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: bold;
  border: 0;
  color: white;
  line-height: 25px;
  &:hover {
    background: lighten($purple, 15%);
  }
}

.formContainer {
  padding: 20px;
  background: white;
  border: 1px solid #ABABAB;
  @include border_radius(2px);
  .formHeader {
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid #CCC;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.imageContainerHeader {
  margin: 20px 0;
  .button {
    font-size: 14px;
  }
}

body.admin {
  .imageContainer {
    .cropSmall {
      height: 120px;
      width: 230px;
      overflow: hidden;
      margin: 0 0 10px 10px;
      position: relative;
      z-index: 1;
      img {
        width: 230px;
      }
      &.first {
        margin-left: 0;
      }
    }
  }
}

.recentImagesHeader {
  margin-bottom: 20px;
  h2 {
    float: left;
    margin: 0;
  }
  .button {
    position: relative;
    top: 8px;
    margin-left: 20px;
    font-size: 14px;
  }
}

.recentImages {
  .cropSmall {
    height: 100px;
    width: 182px;
    overflow: hidden;
    margin-left: 10px;
    &:first-child {
      margin-left: 0px;
    }
    img {
      width: 182px;
    }
  }
  .button {
    font-size: 14px;
    margin-left: 20px;
    clear: right;
  }
}

.navbar .nav {
  // position: absolute;
  // top: 10px;
  // // bottom: 20px;
  // right: 0;
  margin-right: -15px;
}

.navbar {
  position: absolute;
  top: -10px;
  right: 0;
}

ul.adminMenu {
  float: right;
  list-style-type: none;
  position: absolute;
  bottom: 33px;
  right: 0px;
  margin: 0;
  font-size: 30px;
  li {
    display: inline-block;
    a {
      display: block;
      width: 160px;
      text-align: center;
      padding: 8px 5px;
      @include transition(all, .1s);
      &:hover {
        background: $lightGrey;
        color: black;
      }
    }
  }
}