@import 'colors';
@import 'mixins';

// Button Styles

.button {
  padding: 10px 8px 8px;
  @include border-radius(2px);
  // background: lighten($purple, 10%);
  background: $buttonRed;
  font-size: 16px;
  display: inline-block;
  color: #EEE;
  cursor: pointer;
  &:hover {
    background: lighten($buttonRed, 5%);
  }
  // &.small {
  //   font-size: 14px;
  // }
  &.directions, &.getDirections {
    margin-top: 15px;
  }
}

.pageContainerHeader {
  .button {
    font-size: 14px;
  }
}

.recentImagesHeader {
  .button {
    position: relative;
    top: 8px;
    margin-left: 20px;
    font-size: 14px;
  }
}

.recentImages {
  .button {
    font-size: 14px;
    margin-left: 20px;
    clear: right;
  }
}