@import 'placeholders';
@import 'colors';

html, body {
  @extend %marginPadding0;
  padding-bottom: 30px;
  font-family: 'Print Clearly', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $gray;
}

ul, ol {
  @extend %marginPadding0;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.clear {
  clear: both;
}

.disabled {
  opacity: 0.7;
}

.marginLeft10 {
  margin-left: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}