@import 'colors';
@import 'mixins';

img {
  margin: 0;
}

.crop {
  overflow: hidden;
  margin: 0;
  float: left;
  position: relative;
}

.imageTitle {
  position: absolute;
  z-index: 999;
  color: white;
  font-size: 24px;
  padding: 0 10px;
  left: 0;
  font-family: Raleway;
  display: inline;
  background: transparent;
  text-align: center;
}

.recentImages {
  img {
    width: 182px;
  }
}

.recentImages {
  .cropSmall {
    height: 100px;
    width: 182px;
    overflow: hidden;
    margin-left: 10px;
    &:first-child {
      margin-left: 0px;
    }
  }
}

body.admin {
  .imageContainer {
    .cropSmall {
      img {
        width: 230px;
      }
    }
  }
}

body.admin {
  .imageContainer {
    .cropSmall {
      height: 120px;
      width: 220px;
      overflow: hidden;
      margin: 0 0 20px 20px;
      position: relative;
      z-index: 1;
      @include transition(box-shadow, 0.2s);
      @include transition(background, 0.2s);
      &.hover {
        padding: 20px 20px 10px;
      }
      &.first {
        margin-left: 0;
      }
      &:hover {
        // padding: 20px 20px 10px;
        background: #FFF;
        @include box-shadow(0, 0, 4px, 1px);
      }
      .caption {
        margin: 10px 0 0;
      }
      .iconWrapper {
        padding:  2px 3px;
        margin-top: 5px;
        &.pullLeft {
          margin-left: -5px;
        }
        &.pullRight {
          margin-right: -5px;
        }
        &:hover {
          background: #6B80AE;
        }
      }
    }
  }
}