@import 'colors';
@import 'fonts';
@import 'placeholders';

// General html tag styles

html, body {
  @extend %marginPadding0;
  font-family: CallMeMaybe, Helvetica, sans-serif;
}

body {
  background: $offWhite;
  &.admin {
    background: $lightGrey;
    font-family: Crew, Helvetica, sans-serif;
  }
}

i {
  position: relative;
  top: 2px;
}