@import 'fonts';
@import 'mixins';
@import 'colors';

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

.header {
  width: 100%;
  position: fixed;
  background: white;
  padding-bottom: 15px;
  @include box-shadow(0px, -1px, 6px, 1px, #DDD);
  z-index: 999;
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
}

.headerImage {
  overflow: hidden;
  img {
    min-width: 800px;
    position: relative;
  }
}

.menu {
  width: 85%;
  max-width: 850px;
  list-style-type: none;
  font-size: 1.3125em;
  margin: 0 auto;
  margin-top: 30px;
  li {
    display: inline;
    margin-left: 9.411765%;
    &:first-child {
      margin-left: 0;
    }
  }
}

.rsvpContainer {
  background: $purple;
  color: white;
  font-size: 20px;
  padding: 20px;
  .form {
    padding-top: 5px;
    width: 615px;
    input[type=text] {
      padding: 5px;
      font-size: 16px;
      &.error {
        border: 2px solid red;
      }
    }
    input[type=submit] {
      border: 0;
      background: none;
      color: white;
      font-family: PrintClearly;
      padding: 0;
    }
  }
  .submit {
    margin: 25px 0 0;
    font-size: 25px;
    float: left;
    cursor: pointer;
  }
  label {
    display: block;
    margin-bottom: 3px;
  }
  .container {
    width: 800px;
  }
  .field {
    width: 240px;
  }
  .closeRSVP {
    font-size: 50px;
    cursor: pointer;
    float: right;
    line-height: 20px;
  }
}

.gray {
  color: $grayColor !important;
}

#home {
  margin-top: 65px;
}

.section {
  @extend .clearfix;
  // width: 900px;
  width: 90%;
  max-width: 900px;
  margin: 100px auto 0;
  font-family: Nexa, Helvetica, Arial, sans-serif;
}

.column {
  // width: 425px;
  width: 47.222%;
  float: left;
  // margin-left: 50px;
  margin-left: 5.555%;
  &:first-child {
    margin-left: 0;
  }
}

.title {
  font-size: 4.375em;
  font-family: 'Eurofurence Light', Helvetica, Arial, sans-serif;
  text-align: center;
  &.link {
    margin-top: 30px;
    a {
      color: $buttonRed !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .groom & {
    // margin-left: 26px;
    // margin-left: 6.117647%;
    text-align: center;
  }
  .bride & {
    // margin-left: 70px;
    // margin-left: 16.470588%;
    text-align: center;
  }
  &.small {
    // font-size: 33px;
    font-size: 2.0625em;
    font-style: italic;
    margin-bottom: -12px;
    position: relative;

    .groom & {
      // margin-left: 83px;
      // text-align: center;
      left: -2.8em
    }
    .bride & {
      left: -3.3em;
    }
  }
  &.center {
    text-align: center;
  }

  #photos & {
    margin-bottom: 30px;
  }
}

hr {
  border-top: 0;
  border-bottom: 2px dashed #777;
  float: left;
  .groom & {
    width: 48%;
    // margin-left: 108px;
    margin-left: 6em;
  }
  .bride & {
    width: 50%;
    // margin-left: 104px;
    margin-left: 5.5em;
  }
}

.clear {
  clear: both;
}

p {
  line-height: 24px;
  text-align: justify;
}

.icon {
  width: 22px;
  height: 22px;
  &.jerel {
    background: url(Jdot.jpg);
    background-position: -12px -12px;
    &.inTitle {
      // margin: 34px 0 0 35px;
      margin: 34px 0 0 8.2353%;
    }
  }
  &.liz {
    background: url(Ldot.jpg);
    background-position: -11px -7px;
    &.inTitle {
      // margin: 34px 35px 0 0;
      margin: 34px 8.2353% 0 0;
    }
  }

}

.timeline {
  margin-top: 20px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.box {
  margin-top: 50px;

  &:first-child {
    margin-top: 30px;
  }

  .boxTop {
    @include box-shadow(0, 0, 20px, 0px, #CCC);
    margin: 0 auto;
    width: 652px;
    height: 35px;
  }

  .boxBottom {
    @extend .center;
    @include box-shadow(0, 0, 20px, 0px, #CCC);
    line-height: 24px;
    width: 632px;
    font-size: 20px;
    padding: 20px 10px 45px;

    #registry & {
      text-align: left;
      margin-top: -20px;
    }

    hr {
      margin: 30px 30px;
      width: 90%;
    }
  }
}

#registry p {
  padding: 0 15px;
}

.inline-block {
  display: inline-block;
}

.map {
  height: 300px;
  width: 480px;
  margin: 15px auto 0;
  position: relative;
}

.mapTitle {
  font-size: 40px;
  line-height: 50px;
}

.mapControls {
  text-align: left;
  width: 480px;
  margin: 0 auto;
  position: relative;
}

.directionsContainer {
  background: lighten($purple, 5%);
  @include border-radius-bottom(2px);
  font-size: 16px;
  position: relative;
  padding: 15px 20px 20px;
  color: white;
  span {
    margin-right: 10px;
  }
  input {
    font-size: 16px;
    padding: 5px;
    width: 200px;
  }
  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    text-shadow: none;
    color: white;
    opacity: 1;
    font-size: 24px;
    font-weight: normal;
  }
  .submit {
    margin-left: 0;
  }
}

.directionsListContainer {
  position: absolute;
  top: -300px;
  font-size: 16px;
  left: 350px;
  background: white;
  border: 1px solid #CCC;
  padding: 20px;
  width: 350px;
  z-index: 1;
  height: 400px;
  overflow-y: scroll;
  @include border-radius(8px);
  .title {
    width: 150px;
    border-bottom: 2px dashed #3D3D3D;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.arrow {
  position: absolute;
  width: 0;
  top: 10px;
  left: -70px;
  z-index: 1;
  border: {
    width: 30px 70px 30px 0;
    style: solid;
  }

  &.gray {
    top: -290px;
    left: 280px;
    border-color: transparent #CCC;
  }

  &.white {
    top: -290px;
    left: 282px;
    z-index: 2;
    border-color: transparent white;
  }
}

.directionsList {
  b {
    font-weight: bold;
    color: darken($buttonRed, 30%);
  }
}

@media only screen and (max-width: 990px) {
  .menu {
    li {
      // display: inline;
      margin-left: 5.411765%;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 795px) {
  .title {
    font-size: 3.3em;

    &.small {
      font-size: 1.8em;
      .groom & {
        left: -2.3em;
      }
      .bride & {
        left: -2.7em;
      }
    }
  }

  hr {
    .groom & {
      margin-left: 5em;
    }
    .bride & {
      margin-left: 4.8em;
    }
  }
}

@media only screen and (max-width: 725px) {
  .menu {
    font-size: 1.2em;
    li {
      margin-left: 4%;
    }
  }
}

@media only screen and (max-width: 595px) {
  .header {
    padding-bottom: 5px;
  }
  .menu {
    margin: 10px;
    width: auto;
    li {
      display: block;
      // border: 1px solid black;
      padding: 5px;
      border: 1px solid #ccc;
      margin: 5px 0;
    }
  }

  #home {
    margin-top: 215px;
  }

  hr {
    .groom & {
      margin-left: 6em;
    }
    .bride & {
      margin-left: 5.9em;
    }
  }

  .column {
    float: none;
    width: 100%;
    margin: 0;
  }
}
