$crew_path: url(CREW36.eot), url(CREW36.svg), url(CREW36.ttf), url(CREW36.woff);
$raleway_path: url(raleway_thin-webfont.eot), url(raleway_thin-webfont.svg), url(raleway_thin-webfont.ttf), url(raleway_thin-webfont.woff);
$walkway_path: url(Walkway_SemiBold-webfont.eot), url(Walkway_SemiBold-webfont.svg), url(Walkway_SemiBold-webfont.ttf), url(Walkway_SemiBold-webfont.woff);
$existence_path: url(Existence-UnicaseLight-webfont.eot), url(Existence-UnicaseLight-webfont.svg), url(Existence-UnicaseLight-webfont.ttf), url(Existence-UnicaseLight-webfont.woff);
$call_me_maybe_path: url(KGCallMeMaybe.ttf);
$purple: #5B3863;
$grey: #3D3D3D;
$lightGrey: #545454;
$offWhite: #EFEFEF;

// Mixins
@mixin transition($property, $duration: 0.5s, $easing: linear) {
  -webkit-transition: $property $duration $easing;
  -moz-transition: $property $duration $easing;
  -ms-transition: $property $duration $easing;
  -o-transition: $property $duration $easing;
  transition: $property $duration $easing;
}

@mixin border-radius($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@font-face {
  font-family: Crew;
  src: $crew_path;
}

@font-face {
  font-family: Walkway;
  src: $walkway_path;
}

@font-face {
  font-family: Raleway;
  src: $raleway_path;
}

@font-face {
  font-family: Existence;
  src: $existence_path;
}

@font-face {
  font-family: CallMeMaybe;
  src: $call_me_maybe_path;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: CallMeMaybe, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: $offWhite;
}

.alert {
  padding: 20px 40px 15px 20px;
  font-family: Crew, Helvetica, sans-serif;
}

i {
  position: relative;
  top: 2px;
}

.clear {
  clear: both;
}

.imageContainer > h1, #blogsContainer > h1 {
  width: 90%;
  margin: 100px auto;
  text-align: center;
}

.disabled {
  opacity: 0.7;
}

#blogsContainer {
  height: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 40px;
  background: $grey;
  font-family: Raleway, Helvetica, sans-serif;
  color: white;
  .adminLink {
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
  ul.menu {
    margin-top: 50px;
    list-style-type: none;
    padding: 0;
    font-size: 30px;
    font-family: Existence;
    li {
      a {
        width: 240px;
        margin-left: 0;
        position: relative;
        right: 40px;
        padding-left: 40px;
        display: block;
        @include transition(background, 0.1s);
        &:hover {
          background: rgba($lightGrey, 0.6);
        }
      }
    }
  }
}

.ourStory {
  .body {
    padding: 20px;
    font-size: 40px;
  }
}

.content {
  position: relative;
  margin: 0 0 0 280px;
  .crop {
    overflow: hidden;
    margin: 0;
    float: left;
    position: relative;
    a {
      background: $purple;
      display: inline-block;
      &.imageTitle {
        position: absolute;
        z-index: 999;
        color: white;
        font-size: 24px;
        padding: 0 10px;
        left: 0;
        font-family: Raleway;
        display: inline;
        background: transparent;
      }
    }
    img {
      margin: 0;
    }
  }
}

.blogItem {
  float: left;
  border: 1px solid #BBB;
  width: 377px;
  min-width: 377px;
  background: #FFF;
  margin: -1px 0 0 -1px;
  .blogInner {
    padding: 20px;
    @include transition(background, 0.2s);
    &:hover {
      background: lighten($purple, 63%);
    }
  }
  img {
    max-width: 337px;
    height: auto;
  }
  .body {
    font-size: 22px;
    font-family: Walkway, Helvetica, sans-serif;
  }
}

.blogPage {
  img {
    width: 100%;
    height: auto;
  }
  .title {
    font-size: 50px;
  }
  .body {
    font-size: 22px;
    font-family: Walkway, Helvetica, sans-serif;
  }
  .textContainer {
    width: 70%;
    max-width: 70%;
    border-right: 1px solid #BBB;
  }
  .textInner {
    padding: 30px;
  }
  .blogDetails {
    width: 29%;
    max-width: 29%;
  }
  .detailsInner {
    padding: 30px;
  }
  .detail {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Walkway, Helvetica, sans-serif;
  }
  .blogSeparator {
    width: 30%;
    border-bottom: 1px solid #BBB;
    border-top: 0;
  }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}