@import 'colors';
@import 'mixins';

// Sidebar Styles

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 40px;
  background: $grey;
  font-family: Raleway, Helvetica, sans-serif;
  color: white;
}

.adminLink {
  font-size: 20px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}