.imageContainerHeader
  = link_to 'Upload a new photo', new_admin_image_path, class: 'button'

.imageContainer
  - @images.each do |image|
    .cropSmall.left{ class: cycle('first', '', '', 'last'), 'data-caption' => image.title, 'data-image-id' => image.id }
      = image_tag image.image.url(:thumb), alt: image.title