.sidebar
  .logo
    .marginSmall.move Jerel &
    .small.move (soon to be)
    .medium.move Liz Miller

  %ul.menu
    %li= link_to 'Our Story', '#'
    %li= link_to 'Blog', '#'
    %li= link_to 'Location', '#'